@font-face {
    font-family: "Amity";
    src: url("Amity.ttf");
}

html {
    background: url("http://eyelearn.org/ma-stu-gallery/filmProj-2013/adam/images/no-shark.png") top no-repeat, url("ocean.png") bottom repeat;
}

main {
    display: flex;
    flex-direction: column;
    
}

.journalEntryForm {
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    
}

.entry {
    width: 700px;
    height: 300px;
    border: 5px solid black;
    margin: 10px;
    padding: 20px;
}

.entryLog {
    display: flex;
    flex-wrap: wrap
}

.gif {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.gifLink {
    width: 400px;
    height: 300px;
    margin: 40px 15px 0 150px

}

#recordEntryButton {
    padding: 30px;
    margin: 20px;
    opacity: 0.85;
    width: 130px;
}

.form {
    width: 800px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;

}

.heading {
    display: flex;
    color: rgb(158, 45, 45);
    justify-content: center;
    font-family: "Amity";
    font-size: 100px;
    margin: 0px 0 108px 0;
    height: 320px;
}

.serif {
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
}

.serif--small {
    font-size: 25px;
}

.serif--big {
    font-size: 35px;
}

.serif--tiny {
    font-size: 18px;
}

.archivo {
    font-family: 'Archivo Black', sans-serif;
}

.bottomMarginSmall {
    margin: 16px 0 4px 0
}

.topMarginSmall {
    margin: 4px 0 16px 0
}


